<html>

<head>
    <title>bus tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <meta http-equiv='refresh' content='30'>
</head>

<body class='body'>
    <script>
        navigator.geolocation.getCurrentPosition(function (position) {
            //console.log(position.coords.latitude, position.coords.longitude)
            let user_position = document.getElementById("position");
            user_position.innerHTML = "Your current position:<br> Latitude: " + position.coords.latitude + " Longitude: " + position.coords.longitude;
        });
    </script>
    <h1 class='title'>Bus Tracker</h1>

    <div class='wrapper'>
        <div class='user-position'>
            <p id="position"></p>
        </div>
        <div>
            {% include 'map.html' %}
        </div>

    </div>

</body>

</html>