<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1ae651b12a7844ca999b7468cc86783a {
                    position: relative;
                    width: 100.0%;
                    height: 70.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1ae651b12a7844ca999b7468cc86783a" ></div>
        
</body>
<script>    
    
            var map_1ae651b12a7844ca999b7468cc86783a = L.map(
                "map_1ae651b12a7844ca999b7468cc86783a",
                {
                    center: [-38.71959, -62.27243],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_781204e018ad499e81f83b8528461bfc = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1ae651b12a7844ca999b7468cc86783a);
        
    
            var marker_37e78fcdeae9451e9b1051605f5de926 = L.marker(
                [-38.69403135950687, -62.29086757471586],
                {}
            ).addTo(map_1ae651b12a7844ca999b7468cc86783a);
        
    
            var icon_ed4571547bb44c26a1fb381fd6787f58 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "user", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_37e78fcdeae9451e9b1051605f5de926.setIcon(icon_ed4571547bb44c26a1fb381fd6787f58);
        
    
        var popup_dcc70fb92f4248d4ad0a7699e394d431 = L.popup({"maxWidth": "100%"});

        
            var html_bf26ed0156884acbb998d5276379b8b6 = $(`<div id="html_bf26ed0156884acbb998d5276379b8b6" style="width: 100.0%; height: 100.0%;">You are here</div>`)[0];
            popup_dcc70fb92f4248d4ad0a7699e394d431.setContent(html_bf26ed0156884acbb998d5276379b8b6);
        

        marker_37e78fcdeae9451e9b1051605f5de926.bindPopup(popup_dcc70fb92f4248d4ad0a7699e394d431)
        ;

        
    
    
            marker_37e78fcdeae9451e9b1051605f5de926.bindTooltip(
                `<div>
                     Click for info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f2baf074c8a84879aaaafb6dd5ff039a = L.marker(
                [-38.708537, -62.250318],
                {}
            ).addTo(map_1ae651b12a7844ca999b7468cc86783a);
        
    
            var icon_793090d44a9c44ac86dd8071f01bb983 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "#c71212", "markerColor": "black", "prefix": "fa"}
            );
            marker_f2baf074c8a84879aaaafb6dd5ff039a.setIcon(icon_793090d44a9c44ac86dd8071f01bb983);
        
    
        var popup_d74dc84129994feab57b0481cf2560b3 = L.popup({"maxWidth": "100%"});

        
            var html_6c5dc08e18bf4b4ea30364ea0dc8dc2a = $(`<div id="html_6c5dc08e18bf4b4ea30364ea0dc8dc2a" style="width: 100.0%; height: 100.0%;"><strong>Linea:</strong> 509<br><strong>ruta:</strong> vuelta<br><strong>interno:</strong> 062<br><strong>distancia:</strong> 3.87Km</div>`)[0];
            popup_d74dc84129994feab57b0481cf2560b3.setContent(html_6c5dc08e18bf4b4ea30364ea0dc8dc2a);
        

        marker_f2baf074c8a84879aaaafb6dd5ff039a.bindPopup(popup_d74dc84129994feab57b0481cf2560b3)
        ;

        
    
    
            marker_f2baf074c8a84879aaaafb6dd5ff039a.bindTooltip(
                `<div>
                     Click for info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0bf4fbae22fb45499bf7a6651c201f9b = L.marker(
                [-38.71304, -62.27336],
                {}
            ).addTo(map_1ae651b12a7844ca999b7468cc86783a);
        
    
            var icon_0f77ffb9e2594eac8397cddfd270cc35 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "#119c52", "markerColor": "black", "prefix": "fa"}
            );
            marker_0bf4fbae22fb45499bf7a6651c201f9b.setIcon(icon_0f77ffb9e2594eac8397cddfd270cc35);
        
    
        var popup_83fa8dad0a57459ab99af95df3171fbb = L.popup({"maxWidth": "100%"});

        
            var html_e2bc1e1430fa4df7afbebed1d46cb038 = $(`<div id="html_e2bc1e1430fa4df7afbebed1d46cb038" style="width: 100.0%; height: 100.0%;"><strong>Linea:</strong> 509<br><strong>ruta:</strong> ida<br><strong>interno:</strong> 022<br><strong>distancia:</strong> 2.60Km</div>`)[0];
            popup_83fa8dad0a57459ab99af95df3171fbb.setContent(html_e2bc1e1430fa4df7afbebed1d46cb038);
        

        marker_0bf4fbae22fb45499bf7a6651c201f9b.bindPopup(popup_83fa8dad0a57459ab99af95df3171fbb)
        ;

        
    
    
            marker_0bf4fbae22fb45499bf7a6651c201f9b.bindTooltip(
                `<div>
                     Click for info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_179d3a1b8c414c01a4ec2d727827b63b = L.marker(
                [-38.686287, -62.306573],
                {}
            ).addTo(map_1ae651b12a7844ca999b7468cc86783a);
        
    
            var icon_54f0f5bdae0c4dbfb1675db5a83fe53d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "#c71212", "markerColor": "black", "prefix": "fa"}
            );
            marker_179d3a1b8c414c01a4ec2d727827b63b.setIcon(icon_54f0f5bdae0c4dbfb1675db5a83fe53d);
        
    
        var popup_428f9b7999394c6abf5c5ad63e81d779 = L.popup({"maxWidth": "100%"});

        
            var html_eb024ea6b71e4627a49e652130421a22 = $(`<div id="html_eb024ea6b71e4627a49e652130421a22" style="width: 100.0%; height: 100.0%;"><strong>Linea:</strong> 509<br><strong>ruta:</strong> vuelta<br><strong>interno:</strong> 028<br><strong>distancia:</strong> 1.61Km</div>`)[0];
            popup_428f9b7999394c6abf5c5ad63e81d779.setContent(html_eb024ea6b71e4627a49e652130421a22);
        

        marker_179d3a1b8c414c01a4ec2d727827b63b.bindPopup(popup_428f9b7999394c6abf5c5ad63e81d779)
        ;

        
    
    
            marker_179d3a1b8c414c01a4ec2d727827b63b.bindTooltip(
                `<div>
                     Click for info
                 </div>`,
                {"sticky": true}
            );
        
</script>