<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1bab89a45da84893b218656333497fc4 {
                    position: relative;
                    width: 100.0%;
                    height: 70.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1bab89a45da84893b218656333497fc4" ></div>
        
</body>
<script>    
    
            var map_1bab89a45da84893b218656333497fc4 = L.map(
                "map_1bab89a45da84893b218656333497fc4",
                {
                    center: [-38.69403135950687, -62.29086757471586],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8a34f5bfda284dc191d3158b85c30efe = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1bab89a45da84893b218656333497fc4);
        
    
            var marker_89dfaa12f6174375af706640d06f7a19 = L.marker(
                [-38.69403135950687, -62.29086757471586],
                {}
            ).addTo(map_1bab89a45da84893b218656333497fc4);
        
    
            var icon_20e19908264449e8b5413f7794dd3418 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "user", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_89dfaa12f6174375af706640d06f7a19.setIcon(icon_20e19908264449e8b5413f7794dd3418);
        
    
        var popup_06416749d8d646c18e5fa769284043e0 = L.popup({"maxWidth": "100%"});

        
            var html_9c94937081554f23b91cfb4a47f7e10f = $(`<div id="html_9c94937081554f23b91cfb4a47f7e10f" style="width: 100.0%; height: 100.0%;">You are here</div>`)[0];
            popup_06416749d8d646c18e5fa769284043e0.setContent(html_9c94937081554f23b91cfb4a47f7e10f);
        

        marker_89dfaa12f6174375af706640d06f7a19.bindPopup(popup_06416749d8d646c18e5fa769284043e0)
        ;

        
    
    
            var marker_14fabce2ff7647e4b65bfab91ac4e60f = L.marker(
                [-38.71596, -62.26572],
                {}
            ).addTo(map_1bab89a45da84893b218656333497fc4);
        
    
            var icon_96ab66a1ded6492c86bb7315c7c4d6e3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "#c71212", "markerColor": "black", "prefix": "fa"}
            );
            marker_14fabce2ff7647e4b65bfab91ac4e60f.setIcon(icon_96ab66a1ded6492c86bb7315c7c4d6e3);
        
    
        var popup_3e01de7b5f9645b280486f9fff5515bc = L.popup({"maxWidth": "100%"});

        
            var html_c10cfea1a3f84c418ae79744d3c4023a = $(`<div id="html_c10cfea1a3f84c418ae79744d3c4023a" style="width: 100.0%; height: 100.0%;"><strong>Linea:</strong> 509<br><strong>ruta:</strong> vuelta<br><strong>interno:</strong> 059<br><strong>distancia: </strong>3.27Km</div>`)[0];
            popup_3e01de7b5f9645b280486f9fff5515bc.setContent(html_c10cfea1a3f84c418ae79744d3c4023a);
        

        marker_14fabce2ff7647e4b65bfab91ac4e60f.bindPopup(popup_3e01de7b5f9645b280486f9fff5515bc)
        ;

        
    
    
            marker_14fabce2ff7647e4b65bfab91ac4e60f.bindTooltip(
                `<div>
                     Click for info
                 </div>`,
                {"sticky": true}
            );
        
</script>