<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c29221e632bd47abb4583d773f66ee5e {
                    position: relative;
                    width: 100.0%;
                    height: 70.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c29221e632bd47abb4583d773f66ee5e" ></div>
        
</body>
<script>    
    
            var map_c29221e632bd47abb4583d773f66ee5e = L.map(
                "map_c29221e632bd47abb4583d773f66ee5e",
                {
                    center: [-38.69403135950687, -62.29086757471586],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b1dad05d31174e259ff129004164ce7a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c29221e632bd47abb4583d773f66ee5e);
        
    
            var marker_ad48f0ab5d114b5ea2076a0c07531c48 = L.marker(
                [-38.69403135950687, -62.29086757471586],
                {}
            ).addTo(map_c29221e632bd47abb4583d773f66ee5e);
        
    
            var icon_af47977597d740ac937286f4f33527e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "user", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ad48f0ab5d114b5ea2076a0c07531c48.setIcon(icon_af47977597d740ac937286f4f33527e1);
        
    
        var popup_52758e83baf2420980fe1d40f0e08c53 = L.popup({"maxWidth": "100%"});

        
            var html_6eae65011b7346d48abb40db56965e8d = $(`<div id="html_6eae65011b7346d48abb40db56965e8d" style="width: 100.0%; height: 100.0%;">You are here</div>`)[0];
            popup_52758e83baf2420980fe1d40f0e08c53.setContent(html_6eae65011b7346d48abb40db56965e8d);
        

        marker_ad48f0ab5d114b5ea2076a0c07531c48.bindPopup(popup_52758e83baf2420980fe1d40f0e08c53)
        ;

        
    
    
            marker_ad48f0ab5d114b5ea2076a0c07531c48.bindTooltip(
                `<div>
                     Click for info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1384276985e745b7bdbf9c248c257c95 = L.marker(
                [-38.71855, -62.26606],
                {}
            ).addTo(map_c29221e632bd47abb4583d773f66ee5e);
        
    
            var icon_89114e9d0d724ac5a1b5dc458a1021dd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "#119c52", "markerColor": "black", "prefix": "fa"}
            );
            marker_1384276985e745b7bdbf9c248c257c95.setIcon(icon_89114e9d0d724ac5a1b5dc458a1021dd);
        
    
        var popup_78b0b55093f947008db5b50f69feab59 = L.popup({"maxWidth": "100%"});

        
            var html_af2a59b9fd5641af9877143fec62f246 = $(`<div id="html_af2a59b9fd5641af9877143fec62f246" style="width: 100.0%; height: 100.0%;"><strong>Linea:</strong> 509<br><strong>ruta:</strong> ida<br><strong>interno:</strong> 022<br><strong>distancia:</strong> 3.47Km</div>`)[0];
            popup_78b0b55093f947008db5b50f69feab59.setContent(html_af2a59b9fd5641af9877143fec62f246);
        

        marker_1384276985e745b7bdbf9c248c257c95.bindPopup(popup_78b0b55093f947008db5b50f69feab59)
        ;

        
    
    
            marker_1384276985e745b7bdbf9c248c257c95.bindTooltip(
                `<div>
                     Click for info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4fcf50f43ba741979150dbaad4f6c5c1 = L.marker(
                [-38.701287, -62.284615],
                {}
            ).addTo(map_c29221e632bd47abb4583d773f66ee5e);
        
    
            var icon_a3c7c3d11e73408688945a063a2e3eb4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "#c71212", "markerColor": "black", "prefix": "fa"}
            );
            marker_4fcf50f43ba741979150dbaad4f6c5c1.setIcon(icon_a3c7c3d11e73408688945a063a2e3eb4);
        
    
        var popup_26484f918bf44e7ca9182e969475c06e = L.popup({"maxWidth": "100%"});

        
            var html_f27bcebbcf594d50911c061b2a51e483 = $(`<div id="html_f27bcebbcf594d50911c061b2a51e483" style="width: 100.0%; height: 100.0%;"><strong>Linea:</strong> 509<br><strong>ruta:</strong> vuelta<br><strong>interno:</strong> 028<br><strong>distancia:</strong> 0.97Km</div>`)[0];
            popup_26484f918bf44e7ca9182e969475c06e.setContent(html_f27bcebbcf594d50911c061b2a51e483);
        

        marker_4fcf50f43ba741979150dbaad4f6c5c1.bindPopup(popup_26484f918bf44e7ca9182e969475c06e)
        ;

        
    
    
            marker_4fcf50f43ba741979150dbaad4f6c5c1.bindTooltip(
                `<div>
                     Click for info
                 </div>`,
                {"sticky": true}
            );
        
</script>