<html>

<head>
    <title>Realtime Bus Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/indexStyles.css') }}">
    <link rel="icon" href="../static/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#4083E6" />
</head>

<body class='body' onload="getLocation()">
    <div class='container'>
        <script>
            function bus_query() {
                let e = document.getElementById("bus_line");
                let buses_list = e.options[e.selectedIndex].value;
                let theUrl = "/line/".concat(buses_list);
                window.location.assign(theUrl);
            }

            var options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
            };

            function success(pos) {
                var crd = pos.coords;

                console.log('Your current position is:');
                console.log(`Latitude : ${crd.latitude}`);
                console.log(`Longitude: ${crd.longitude}`);
                console.log(`More or less ${crd.accuracy} meters.`);
                console.log('---------------------------------')
                document.getElementById("myPosition").innerHTML = `${crd.latitude},${crd.longitude}`;
            }

            function error(err) {
                console.warn(`ERROR(${err.code}): ${err.message}`);
            }
            function getLocation() {
                navigator.geolocation.watchPosition(success, error, options);

            }

        </script>
        <h1>"Position: <span id="myPosition"></span>"</h1>
    </div>
</body>

</html>