<html>

<head>
    <title>Line {{line}} | Bus Tracker</title>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/trackingStyles.css') }}">
    <meta name="theme-color" content="#4083E6" />
    <meta http-equiv='refresh' content='100'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class='body'>
    <div class='container'>
        <h1 class='title'>Realtime Bus Tracker</h1>
        <div class='dev-tag'>
            <p>
                Developed by
                <a href="https://github.com/TomasGB" target="_blank" rel="noopener noreferrer">
                    Tomas Gomez Bermudez
                </a>
            </p>
        </div>
        <div class='wrapper'>
            <div class='datos'>
                <ul>
                    <li>
                        <p><strong>Line:&nbsp; </strong>
                            {{line}}</p>
                    </li>
                    <li>
                        <p><strong>Going route:</strong> <i class='bus-going'><span class="iconify"
                                    data-icon="bx:bx-bus" data-inline="false"></span></i></p>
                    </li>
                    <li>
                        <p><strong>Comeback route:</strong> <i class='bus-comeback'><span class="iconify"
                                    data-icon="bx:bx-bus" data-inline="false"></span></i></p>
                    </li>
                </ul>
            </div>
            <div class='map-wrapper'>
                {% include 'map.html' %}
            </div>
        </div>
    </div>
</body>

</html>