:root{
    /*---COLORS VARIABLES----*/
    --primary-color: linear-gradient(-45deg, #0448AD,#0a66f0,#3a86f7,#88b4f7);
    --secondary-color:#457dd1;
    --terciary-color:#548adb;
    --fourth-color:#ffffff75;
    --fith-color:#A0C3F7;

    /*---FONT VARIABLES----*/
    --primary-font: 'B612', sans-serif;
    --font-color: #000000;
    --font-color-light: #313131;
    
    /*---FONT SIZES----*/
    --primary-font-size: 5rem;
    --secondary-font-size: 3rem;
    --terciary-font-size:2rem;
    --fourth-font-size: 1.5rem;
    --fith-font-size: 1rem;
}
.body{
    font-family:var(--primary-font);
    justify-content: center;
    padding:0%;
    margin:0%;
    height:100vh;
    background: var(--primary-color);
    background-size: 400% 400%;
    position:relative;
    animation: change 10s ease-in-out infinite;
}
@keyframes change {
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}
.container{
    justify-content: center;
    align-self: center;
    min-width:100%;
    min-height:100vh;
}
.title{
    color: var(--font-color);
    font-size: var(--primary-font-size);
    font-weight: 700;
    padding:30px 20px;
    text-align:center;
}
.dev-tag{
    margin: 50px 0px;
    font-size: var(--terciary-font-size);
    font-weight: 600;
    text-align: center;
    color:var(--font-color);
}
.dev-tag a{
    color: var(--font-color);
    text-decoration: none;
}
.dev-tag a:hover{
    color:var(--font-color-light);
    text-decoration: none;
    cursor:pointer;
}
.wrapper{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-self: center;
    height:100vh;
}
.form{
    background-color: var(--fourth-color);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-self: center;
    width:250px;
    height:fit-content;
    text-align: center;
    margin-top: 25px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form select{
    margin:15px 0px;
    padding:5px;
    border-radius: 5px;
    text-align: center;
}
.form select:hover{
    cursor:pointer;
}
.form select:focus{
    cursor:pointer;
    outline:none;
}
.form select option:hover{
    cursor:pointer;
}
.form input{
    background-color: var(--secondary-color);
    font-weight: 700;
    border:none;
    border-radius: 15px;
    padding:10px;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form input:hover{
    background-color: var(--terciary-color);
    color:#ffffff;
    cursor:pointer;
}
.form input:focus{
    background-color: var(--fith-color);
    cursor:progress;
}
.logo{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-self: center;
    width:130px;
    text-align: center;
}
@media(min-width:1800px){
    .title{
        color:var(--font-color);
        font-size: var(--secondary-font-size);
        font-weight: 700;
        padding: 50px;
        text-align:center;
    }
    .wrapper{
        height:fit-content;
    }
    .form{
        font-size: var(--terciary-font-size);
        width:450px;
        margin-top: 50px;
        padding: 25px;
    }
    .form select, .form input{
        font-size: 2rem;
    }
    .logo{
        width:250px;
    }
    .dev-tag{
        margin: 80px 0px;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        color:var(--font-color);
    }
}
@media(max-width:1799px){
    .title{
        color:var(--font-color);
        font-size: var(--secondary-font-size);
        font-weight: 700;
        padding: 20px;
        text-align:center;
    }
    .wrapper{
        height:fit-content;
    }
    .form{
        font-size: var(--fith-font-size);
        width:400px;
        margin-top: 50px;
        padding: 25px;
    }
    .form select, .form input{
        font-size: var(--fith-font-size);
    }
    .logo{
        width:200px;
    }
    .dev-tag{
        margin: 30px 0px;
        font-size: var(--fith-font-size);
        font-weight: 600;
        text-align: center;
    }
}
@media(max-width:1280px){
    .title{
        font-size: var(--terciary-font-size);
        font-weight: 700;
        padding: 20px;
        text-align:center;
    }
    .wrapper{
        height:fit-content;
    }
    .form{
        font-size: var(--fith-font-size);
        width:300px;
        margin-top: 30px;
        padding: 25px;
    }
    .form select, .form input{
        font-size: var(--fith-font-size);
    }
    .logo{
        width:150px;
    }
    .dev-tag{
        margin: 30px 0px;
        font-size: var(--fith-font-size);
        font-weight: 600;
        text-align: center;
    }
}
@media(max-width:425px){
    .title{
        font-size:var(--terciary-font-size);
    }
    .dev-tag{
        margin-top: 30px;
        font-size: var(--fith-font-size);
        font-weight: 600;
        text-align: center;
    }
    .wrapper{
        padding: 0px;
        display:flex;
        flex-direction: column;
        height:fit-content;
    }
    .form{
        font-size: var(--fith-font-size);
        width:250px;
        margin-top: 30px;
        padding: 25px;
    }
    .logo{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-self: center;
        width:100px;
        text-align: center;
        margin-bottom: 25px;
    }
}